/*Inclusion des bordures et du padding dans la hauteur et la largeur des éléments*/
*, *:before, *:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body,html {
    height: 100%;
    overflow: hidden;
    margin-right: -11;
    background-image: url('generalBG.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}


.date {
    margin-bottom:10px;
    width: 130px; height: 110px;
    background: #fcfcfc; 
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

.date p {
    margin-top:30px;
    font-family: Helvetica, sans-serif;
    font-size: 100px; text-align: center; color: #9e9e9e; 
}

.date p span {
    margin-top:30px;
    background: #e15200; 
    font-size: 30px; font-weight: bold; color: #fff; text-transform: uppercase;
    display: block;
    border-top: 3px solid #a13838;
    border-radius: 0 0 10px 10px;
    padding: 6px 0 6px 0;
}


#bg {
    background-image: url('bg.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center top;
    top: 0%;
    left:0%;
    padding-left: 5%;
    padding-top: 15%;
    width: 40%;
    height: 50%;
}
#bg img{
    transform: scale(2);
}



.dayF {
    text-align:center;
    font-size:40px;
    top: 50%;
    left:0%;
    width: 40%;
    height: 20%;
}

.logo {
    background-image: url('logo-magpie.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 10% center;
    position: fixed;
    top: 70%;
    left:0%;
    width: 40%;
    height: 30%;
}

.clockp {
    position: fixed;
    left: 40%;
    width: 40%;
    height: 30%;
    top: 10%;
}

.agendap{
        background-color: rgba(255,255,255,0.7);
    position: fixed;
    left: 40%;
    top: 55%;
    height: 45%;
    width: 30%;
    margin-top: -40px;
   overflow-y:scroll;
}

.twitterp {
    position: fixed;
    left: 77%;
    top: 0px;
    width: 23.5%; //+3% :bug from twitter widget
}



::-webkit-scrollbar {
    display: none;
}

#tweets .twtr-widget,#tweets .twtr-doc {
    width: 100%;
    height: 100%;
}

* {
    cursor: none;
}
